[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
v = {editable = true,version = "*"}
bumpversion = "*"

[packages]
flask = "*"

[requires]
python_version = "3.7"
