<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página 1</title>
    <link rel="stylesheet" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
<h1>Toilter</h1>
{% if user %}
<p>Bem vindo ao Toilter, <b>{{ user }}</b>!</p>
{% else %}
<p>
    <b>Bem vindo ao Toilter!</b>
</p>
{% endif %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<scritp src="{{ url_for('static', filename='js/bootstrap.min.js') }}"> </scritp>
</body>
</html>