{% extends 'base.html'%}
{% block title %}{{super()}} - Login{% endblock%}
{% block content %}
<p></p>
<form action="" method="post">
  <div class="form-group">
    <label >Username</label>
    {{ form.username(class='form-control',  placeholder="usuário de login") }}
  </div>
  <div class="form-group">
    <label >Password</label>
    {{ form.password(class='form-control') }}
  </div>
  <div class="checkbox">
    <label>
      {{ form.rememberme() }} Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
</form>
{% endblock %}
